*{
    margin: none;
    font-family: "AppleBold";
}

@font-face {
    font-family: AppleBold;
    src: url("src/sf-pro-display_semibold.woff2");
}

@font-face {
    font-family: AppleRegular;
    src: url("src/sf-pro-text_regular.woff2");
}

body{
    background-color: #f5f5f7;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav dl{
    display: flex;
}

header nav a{
    color: #1d1d1f;
    text-decoration: none;
}

header nav dd{
    padding: 8px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav dd:hover{
    background-color: #1d1d1f;
    color: white;
}

header .icon{
    width: 35px;
    height: 40px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}

main h1{
    color: #1d1d1f;
    font-size: 60px;
    margin: 0;
}

main h2{
    color: #1d1d1d;
    margin: 0;
    font-family: "AppleRegular";
    font-weight: 100;
}

main .container{
    display: flex;
    align-items: center;
    justify-content:center
}

main img{
    position: absolute;
    bottom:0;
    width: 50%
}

main .container .links{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

main .container a{
    text-decoration: none;
    font-size: 20px;
    font-family: "AppleRegular";
    color: #06c;
    display: flex;
    align-items: center;
}

main .container a:hover{
    text-decoration: underline;
}

@media (max-width: 700px){
    dd{
        margin-left: 15px !important;
    }
}